@import 'global.scss';

.about_container {
    width: 60%;
    margin: 3em auto;
    h1 {
        font-size: 3em;
        color: $yellow-color;
    }
    .profile_img {
        margin: 2em 0 3em 0 ;
    }
    p {
        color: $gray-color;
        font-size: 1.2em;
        line-height: 1.2;
        :nth-child(2){
            font-size: 1.3em;
        }
    }

}