

$yellow-color : #F9C561;
$background-color : #3C3C42;
$gray-color : #ebecf0;
$blue-color: #2F86C5;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: $background-color;
}

