@import 'global.scss';

.main_container {
    padding: 3em 10%;
    text-align: center;
    h1 {
        font-size: 4em;
        color: $yellow-color;
        font-family: $font-montserrat;
    }
    p {
        color: $gray-color;
        font-size: 1.5em;
        word-spacing: 3px;
        margin: 2em 0 10% 0;
    }
    .slider_wrapper {
        width: 90%;
        margin: 4em auto  ;
        height: 300px;
        position: relative;
        // border: 1px solid red;
        // display: block;

            .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            transition: all 0.25s ease-in-out;
            display: flex;
            align-items: center;
            .img {
                flex: 1;
                img {
                    width: 100%;
                }
            }
            .slide_title {
                flex: 1;
                height: 100%;
                position: relative;
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // background-color: $yellow-color;
                h1 {
                   color: $blue-color;
                   font-size: 2em;
                   margin-bottom: 2em;
                   }
               }
               .container-dots {
                
                // transform: translateX(-50%);
                display: flex;
                z-index: 3;
                .dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 3px solid $blue-color;
                    margin: 0 5px;
                    background: #f1f1f1;
                  }
                .dot.active {
                    background: $blue-color;
                }
              }
              
            }
            .active-anim {
                opacity: 1;
            }
          
            }   

    }



.main-about_container {
    padding: 3em 15%;
    h1 {
        font-size: 2em;
        color: $yellow-color;
        margin-bottom: 3em;
    }
    .about-summary_container {
        

        .about-summary {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 3em;
            .about-summary_img {
                width: 50%;
                text-align: center;
                // padding: 4em;
               img {
                   width: 100%;
               }
            }
            .about-summary_desc {
                color: $gray-color;
                padding: 4em;

               h2 {
                //    width: 80%;
                   text-align: center;
                   margin-bottom: 2em;
                   font-size: 2em;
               }
               p{
                   opacity: 0.85;
                   font-size: 1.2em;
               }
            }
            &:nth-child(2n){
                flex-direction: row-reverse;
            }
        }
    }
   
}

.main-contact_container {
    width: 60%;
    margin: 4em auto;
    color: $gray-color;
    text-align: center;
    h1  {
        text-align: center;
        margin-bottom: 1.5em;
        font-size: 2.5em;
    }

    p {
        font-size: 1.3em;
        opacity: 0.85;
        text-align:left;
        margin-bottom: 2em;
    }

    a {
        color: $gray-color;
        background-color: $blue-color;
        padding: 1em 2em;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.1em;
        max-width: 12rem;
        margin: 0 auto;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
         &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-3px);
        }
    }
}
.certificates_container {
    margin-top: 10%;
    h2 {
        margin-top: 3em;
        text-align: center;
        color: $gray-color;
    }
    .certificates {
        display: flex;
        justify-content: center;
        div {
            width:20%;
            margin: 2em;
            height: auto;
          
            img {
                width: 100%;
    
            }
        }
    }
}


