@import 'global.scss';

.service_container {
    width: 80%;
    margin: 3em auto;
    h1 {
        font-size: 4em;
        color: $yellow-color;
    }
    .check_container {
       margin-top: 2em ;
       display: flex;
       justify-content: space-between;
       background-color: $darkgray-color;
       padding: 3em 2em;
       border-radius:10px;
       h2 {
           color: $yellow-color;
           text-align: center;
           margin-bottom: 1em;
           font-size: 2em;
       }
       .service_item {
           display: flex;
           align-items: center;
           color: $gray-color;
           margin :0.5em 1em;
           svg {
               margin-right: 0.5em;
           }
           p {
               font-size: 1.2em;
           }
           
       }
       .basic {
           flex: 1;
           display: flex;
           flex-direction: column;
           align-items: center;
       }
       .full {
           flex: 2;
           display:flex;
           flex-direction: column;
           align-items: center;
           ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
           }
       }
       
    }

    .service_list_container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        margin: 10% 0;
        .service_item {
            background-color: $darkgray-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            padding: 2em;
            transition: all 0.15s linear;
            position: relative;
            bottom: 0;
            &:hover {
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                position: relative;
                bottom: 3px;
            }

            .service_img {
                max-width: 5em;
                
            }
            h2 {
                color: $yellow-color;
                margin: 1em 0;
                font-size: 1.7em;
            }
            .service_details {
                li{
                    color: $gray-color;
                    margin-bottom: 1em;
                    font-size: 1.2em;
                }
            }
        }
    }

}


@media (max-width:1050px){
    .service_container {
        .check_container {
            flex-direction: column;
            .basic {
                padding-bottom: 2em;
                 margin-bottom: 2em;
                border-bottom: 1px solid $gray-color;
            }
        }

        .service_list_container{
            grid-template-columns: repeat(2,1fr)
        }

    }
    
}

@media (max-width:650px){
    .service_container {
        h1 {
            font-size: 2.5em ;
            text-align: center;
        }
        .check_container{
            .full {
                ul {
                 grid-template-columns: repeat(1, 1fr);
                }
            }
        }
     

        .service_list_container{
            grid-template-columns: repeat(1,1fr)
        }

    }
    
}